.logo {
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: aqua;
}

nav {
  display: flex;
  height: 20%;
  background-color: black;
  color: white;
  align-items: center;
  padding: 1rem 3rem;
}

nav ul {
  display: flex;
  padding: 0;
  align-items: center;
  margin-left: auto;
  list-style-type: none;
  gap: 2rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 0.3rem;
}

a.active {
  color: aqua;
}

.shopping-cart {
  position: relative;
}

.cart-qty {
  opacity: 0;
  font-size: 0.75rem;
  position: absolute;
  top: -10px;
  left: 20px;
  padding: 2px;
  width: 15px;
  height: 15px;
  background-color: var(--blue-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.opacity-1 {
  opacity: 1;
}
